
.container{
    width: 70%;
    margin: 1.5rem auto 3rem;
    padding: 2rem;
    background-color: var(--bg-color-alt);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    box-sizing: border-box;
}

.container__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container__title{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 700px;
}

.container__message{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-control{
    padding: 0.8rem;
    font-size: 1rem;
    font-family: var(--body-font);
    width: 700px;
    border-radius: 5px;
    resize: none;
}

.container__buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.buttons{
    margin: 1.5rem 0 0;
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    background-color: var(--main-color-400);
}

.buttons:hover{
    transform: scale(1.05);
}